src/unetbootin/unetbootin.app/Contents/MacOS/
.DS_Store
dist
initkern/*
winbuild/nsis
src/unetbootin/debug
src/unetbootin/release
src/unetbootin/qdevelop-settings.db
src/unetbootin/main.o
src/unetbootin/moc_unetbootin.cpp
src/unetbootin/moc_unetbootin.o
src/unetbootin/README.TXT
src/unetbootin/unetbootin
src/unetbootin/unetbootin.exe
src/unetbootin/unetbootin.o
src/unetbootin/sevenzip.exe
src/unetbootin/sevenzip-extra.7z
src/unetbootin/qrc_unetbootin*.cpp
src/unetbootin/ui_unetbootin.h
src/unetbootin/asgd.img
src/unetbootin/Makefile
src/unetbootin/Makefile.Release
src/unetbootin/Makefile.Debug
src/unetbootin/*.qm
src/unetbootin/.cdtproject
src/unetbootin/.project
src/unetbootin/.settings
src/unetbootin/unetbootin_*.deb
src/unetbootin/debbuild/usr/bin/unetbootin
src/unetbootin/debbuild/usr/share/unetbootin/*
src/unetbootin/release/*
src/unetbootin/unetbootin-pro.bak
src/unetbootin/unetbootin.pro.user
src/unetbootin/sgd.img
src/unetbootin/qrc_unetbootin-linux.o
src/unetbootin/qrc_unetbootin.o
src/unetbootin/qrc_*
src/unetbootin/*.o
src/unetbootin/qt4-win
src/unetbootin/qt4-x11
src/unetbootin/qt4-mac
/node_modules
.getsecret.yaml