#define RT_MANIFEST 24 
#define APP_MANIFEST 1

APP_MANIFEST RT_MANIFEST unetbootin.exe.manifest
IDI_ICON1 ICON DISCARDABLE "unetbootin.ico"

1 VERSIONINFO
FILEVERSION 1,1,1,1
PRODUCTVERSION 1,1,1,1
{
 BLOCK "StringFileInfo"
  {
  BLOCK "040904E4"
   {
VALUE "CompanyName", "Jide Technology Co., Ltd"

VALUE "FileVersion", " "

VALUE "FileDescription", "Remix OS Installation Tool http://www.jide.com/remixos-for-pc"

VALUE "InternalName", "Remix OS Installation Tool http://www.jide.com/remixos-for-pc"

VALUE "LegalCopyright", "Copyright - Jide Technology Co., Ltd - License - GNU GPL v2+"

VALUE "LegalTrademarks", " "

VALUE "OriginalFilename", "remixos-installation-tool.exe"

VALUE "ProductName", "Remix OS Installation Tool"

VALUE "ProductVersion", " "

   }
  }
 BLOCK "VarFileInfo"
 {
  VALUE "Translation", 1033, 1252
 }
}

