Package: unetbootin
Version: 285
Section: base system
Priority: optional
Architecture: amd64
Depends: syslinux,p7zip-full,libqt4-gui,libqt4-network
Recommends: udev
Installed-Size: 500
Maintainer: Geza Kovacs <geza0kovacs@gmail.com>
Source: unetbootin
Description: UNetbootin can create live USB drives for a variety of distributions.
	Website is at http://unetbootin.sourceforge.net/
