Package: unetbootin
Version: 1.0
Section: base system
Priority: optional
Architecture: all
Depends: 
Installed-Size: 10
Maintainer: Geza Kovacs <geza0kovacs@gmail.com>
Source: unetbootin
Description: A netboot installer-loader for various Linux distros. Allows for installation of Linux without a CD to a dedicated partition. Website is at lubi.sourceforge.net
